<a href="https://colab.research.google.com/github/tnv-pramod/Python-Prrograms/blob/master/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Docstring for functions

In [9]:
def evenodd(X):
  """function used to check whether it is odd or even"""
  if X%2==0:
    print("even")
  else:
    print("odd")
print(evenodd.__doc__)
evenodd(3)

function used to check whether it is odd or even
odd

#Functions

In [10]:
def greet():
  print("hello")

In [12]:
def greet():
  print("hello")
greet()
greet()

hello
hello

In [13]:
def add(x,y):
  c=x+y
  return c
add(5,4)

9

In [19]:
def add(x,y):
  c=x+y
  print(c)
add(5,4)

9

In [26]:
def add_sub(x,y):
  c=x+y
  d=x-y
  return c,d
result1,result2=add_sub(4,6)
print(result1,result2)

10 -2

In [28]:
def add_sub(x,y):
  c=x+y
  d=x-y
  print(c,d)
add_sub(4,6)

10 -2

In [29]:
def add_sub(x,y):
  c=x+y
  d=x-y
  return c,d
add_sub(4,6)

(10, -2)

In [78]:
def myfun(y):
    total = 0
    for i in y:
        total += i
    return total
y=[13,4,6,7,3]
x = [20, 30, 40]     #the x(paased parameter) only works in this
result = myfun(x)
print(result)

90

In [94]:
def k():
  return 1
  return 4
  return 5
for i in k():
 print(i)

TypeError: ignored

#Generators(Yield Function):
if the body of the def contains yield,the function automatically becomes a generator function

1)we should use yield when we want to iterate over a sequence,but don't want to store the entire sequence

2)generators takes less memory

In [89]:
def generator():
  yield 1
  yield 2
  yield 3
for value in generator():
 print(value)

1
2
3

#Types of function arguments
1)postion argument

2)keyword argument

3)default argument

4)variable length argument

5)keyword variable length argument

In [98]:
#position argument
def add(a,b):
  c=a+b
  print(c)
add(5,6)

11

In [99]:
#keyword argument
def person(name,age):
  print(name)
  print(age)
person(age=28,name='navin')

navin
28

In [100]:
#default argument
def person(name,age=18):
  print(name)
  print(age)
person('navin')

navin
18

In [102]:
#variable length argument
def sum(a,*b):
  print(a)
  print(b)        #total elements except a
sum(5,3,6,8,56,9)

5
(3, 6, 8, 56, 9)

In [104]:
#keyword variable length argument
def person(name,**data):
  print(name)
  print(data)
person('navin',age=28,city='mumbai')

navin
{'age': 28, 'city': 'mumbai'}

In [106]:
a=10
def something():
  a=15
  print("infun",a)
something()
print("outside",a)

infun 15
outside 10

In [107]:
#without declaring a local variable the,global variable can access local variable
a=10                          
def something():
  print("infun",a)
something()
print("outside",a)

infun 10
outside 10

#Anonymous function(or)lambda function
1)a function without name is called anonymous(or)lambda function

2)we can pass any number of arguments but only of one expression

In [108]:
f=lambda a:a*a
result=f(5)
print(result)

25

In [115]:
x=lambda a,b:a+b
result=x(5,23)
print(result)

28

#Filter function
1)it takes list from us and filter that list values

2)filter takes two arguments a)function b)iterable

where iterable is a sequence of a list

3)filter take sequence and returns sequence

#Map function
1)when we want to change every value from the sequence(or) by using by using map function

2)in this we use two arguments a)function b)iterative

In [ ]:
#Reduce function 
1)reduce is a function changes from list to a single cummaltive value

2)in this we use two arguments a)function b)iteration